/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Обнулення */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	border: none;
	outline: none;
}

*,
*::before,
*::after{
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
}

a{
text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
/* Обнулення */

/*Стилі сайту*/
.body{
background-color: rgb(163, 198, 250);
/* padding-bottom: 200px; */
/* margin-bottom: 200px; */
}

.wrapper{
/* margin-top: 200px; */
max-width: 1400px;
width: 100%;
padding-bottom: 1%;
margin: 0 auto;
/* height: 100px; */
background-color: #F9F8FD;
}

.top-margin{
width: 100%;
margin: 0 auto;
height: 10%;     
}

.header{        
width: 92%;
background-color: #ffffff;
margin: 0 auto;
height: 40px;
/* padding-top: 10%; */
border-radius: 20px;
text-align: center;
}

.header_menu{
width: 93%;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 0.5%;
}

.logo{
white-space: nowrap;
}

.logo-img{
/* white-space: nowrap; */
width: 170%;
}

/* .button-enter{
} */

.button-enter{
	width: 40%;
	/* height: 12%; */
	/* padding-top: 0.5%;
	padding-bottom: 5%; */
	margin: 0 auto;
	text-align: center;
	/* margin-top: 4%; */
	/* position: absolute; */
	/* z-index:34; */
	background-color:  #38BFF2;
	border-radius: 18px;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
    align-items: center;
}

.button-enter:hover{
	background-color:  #F15525;
	cursor: pointer;
}

.button-enter_img{
	width: 30%;
	margin: 0 auto;
	text-align: right;
}

.arrow_enter-img{
	width: 60%;
	margin: 0 auto;
}

@media (min-width: 370px) {
    [class="arrow_enter-img"] {
		width: 50%;
    }
}

@media (min-width: 450px) {
    [class="arrow_enter-img"] {
		width: 45%;
    }
}

@media (min-width: 500px) {
    [class="arrow_enter-img"] {
		width: 35%;
    }
}

@media (min-width: 600px) {
    [class="arrow_enter-img"] {
		width: 30%;
    }
}

@media (min-width: 660px) {
    [class="arrow_enter-img"] {
		width: 25%;
    }
}

@media (min-width: 780px) {
    [class="arrow_enter-img"] {
		width: 20%;
    }
}

@media (min-width: 900px) {
    [class="arrow_enter-img"] {
		width: 17%;
    }
}

@media (min-width: 1100px) {
    [class="arrow_enter-img"] {
		width: 15%;
    }
}

@media (min-width: 1200px) {
    [class="arrow_enter-img"] {
		width: 12%;
    }
}

.button-enter_text{
	/* font-family: 'PT Sans'; */
	width: 70%;
	color: #ffffff;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 31.06px;
	margin: 0 auto;
	text-align: left;
}

.burger{
	/* width: 20%; */
	width: 25px;
    height: 25px;
	background-image: url(../image/burger_menu-black.svg);
    /* background-image: url(../img_resume/IMG_48106\(400\).png); */ 
    background-size: contain;
    /* z-index: 10; */
    cursor: pointer;  /*Курсор стає як рука з вказівним пальцем */
    /* border-radius: 50%; */
    background-repeat: no-repeat;
    /* margin: 0 auto; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    padding: 0.6em;
    margin-bottom: 1em;
    z-index: 25; */
	background-position: center;
}

.burger:hover{
    background-image: url(../image/burger_menu.svg);
    }
    /*<hover> - ПСЕВДОСТИЛЬ - ЧТО ДЕЛАТЬ ПРИ НАВЕДЕНИИ МЫШКОЙ*/